*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/google-services.json
app/src/staging/release/google-services.json
app/src/staging/debug/google-services.json